html, body {
  max-width: 100%;
  overflow-x: hidden;
}
.body {
  margin: 0;
  margin-top: -30px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

header{
  height: 7em;
  background-color: 
  #573b8a;
  box-shadow: 4px 4px 60px rgba(0,0,0,.5); 
  margin-bottom: 30px;
}

.sticky-header {
  position: sticky;
  z-index: 1;
  top: 0;
}

.links {
  display: flex;
  overflow: hidden;
  margin-bottom: 1em;
  justify-content: space-between;
  align-items: center;
  font-size: 150%;
}

.links a {
  font-size: 100%;
}

.links a{
  padding-left: 1.5%;
  float: left;
  text-align: left;
  text-decoration: none;
  color: white;
  margin-right: 8px;
}


.dropdown-content a:hover, .update:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.logo {
  width: 100px;
  height: 100px;
}

.title{
  text-align: right;
  float: right;
}

.main{
	width: 550px;
	height: 650px;
  margin-top: -30px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}

#chk{
	display: none;
}

.signup{
	position: relative;
	width:100%;
	height: 100%;
}

.labelSign{
  color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

.labelReg{
  color: #fff;
	font-size: 1.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
}

.inputs{
  width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

.link{
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
}

img{
  width: 300px;
  height: 300px;
  max-width: 300px;
  max-height: 300px;
}

.loginB{
  width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.loginB:hover{
  background: #6d44b8;
}

.admin{
  height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}

.admin label{
  color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .admin{
	transform: translateY(-500px);
}
#chk:checked ~ .admin label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}



.pitch {
  background: repeating-linear-gradient(
		rgba(255, 255, 255, 0.05),
		rgba(255, 255, 255, 0.05) 20%,
		transparent 20%,
		transparent 40%
	);
  width: 100%;
	height: 100%;
	padding: 1.5rem;
	padding-bottom: 0;
	display: flex;
  justify-content: center;
  min-height: 100vh;
  position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
  
}

.lines {
  border: 0.1875rem solid rgba(255, 255, 255, 0.3);
  background-color: #3aaa35; 
  border-bottom: transparent;
  height: calc(100% - 6rem);
  display: block;
  position: relative;
}
.corner {
  width: 1rem;
  height: 1rem;
  display: block;
  position: absolute;
  border: 0.1875rem solid rgba(255, 255, 255, 0.3);
  border-left: 0.1875rem solid transparent;
  border-top: 0.1875rem solid transparent;
  border-bottom: 0.1875rem solid transparent;
}
.corner-top-left {
    top: -0.6875rem;
    left: -0.6875rem;
    transform: rotate(45deg);
}
.corner-top-right {
  top: -0.6875rem;
  right: -0.6875rem;
  transform: rotate(135deg);
}
.goalBox {
  border: 0.1875rem solid rgba(255, 255, 255, 0.3);
  border-top: transparent;
  margin: 0 auto;
  width: 11.87rem;
  height: 5.5rem;
  position: relative;
  
}

.goalBox::before {
  content: "";
  display: block;
  border: 0.1875rem solid rgba(255, 255, 255, 0.3);
  border-top: transparent;
  width: 6.875rem;
  height: 3rem;
  margin: 0 auto;
}

.goalBox::after {
  content: "";
  display: block;
  border: 0.1875rem solid rgba(255, 255, 255, 0.3);
  border-top: transparent;
  width: 3.5rem;
  height: 1.75rem;
  border-bottom-left-radius: 3.5rem;
  border-bottom-right-radius: 3.5rem;
  margin: 2.5rem 4rem 4rem 4rem;
  z-index: -1;
}

.half {
  width: 100%;
  height: 5.75rem;
  border-top: 0.1875rem solid rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: 0;
}

.half::before {
  content: "";
  display: block;
  border: 0.1875rem solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  width: 7rem;
  height: 7rem;
  margin: -3.55rem auto 0;
  border-radius: 7rem;
}

.half::after {
  content: "";
  display: block;
  background: rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
  margin: -4rem auto 0;
  border-radius: 1rem;
}

.goalie{
  display: flex;
  justify-content: center;
  margin-top: -80px;
}

.goal{
  text-align: center;
  margin: 30px auto 15px auto;
  padding: 0 30px 0 30px;
}

.defenders{
  display: flex;
  justify-content: space-between;
  margin: 30px 25px 15px 25px;
  padding: 0 30px 0 30px;
}



.midfielders{
  display: flex;
  justify-content: space-around;
  margin: 30px auto 15px auto;
}

.forwards{
  display: flex;
  justify-content: space-around;
  margin: 30px auto 15px auto;
}

.homepage{
  display: grid;
  justify-content: space-evenly;
  background-color: #ccfeba;
  margin-top: -30px;
}

.profilePage{
  background-color: #ccfeba;
  margin-top: -30px;
}

.teams{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 100px;
  margin: 30px;
  font-family: 'Jost', sans-serif;
}

.playerList{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.empty{
  max-width: 1px; 
}

.def{
  margin-right: 20px;
}

.playerImage{
  width: 100px;
  height: 100px;
  display: flex;
  margin: auto;
  z-index: 2
}
.box {
  
 
  margin: auto;
}

.box select  {
  background-color: #0563af;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box label {
  background-color: #143855;
  color: white;
  padding: 12px;
  width: 100px;
  border: none;
  font-size: 20px;
  margin: 10px;
}

.box::before {
  position: absolute;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}

select {
  margin: auto;
}

.button {
  background-color: #223e55;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  margin: 10px;
}

.back{
  color: white;
}