html, body {
  overflow-x: hidden;
  font-family: 'Jost', sans-serif;
  height: 100vh;
  background-color: #ccfeba;
}

/* for register.js and signin.js  */

.body {
  margin: 0;
  margin-top: -30px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

/* nav.js  */

header{
  background-color: 
  #573b8a;
}

.links {
  display: flex;
  overflow: hidden;
  margin-bottom: 1em;
  justify-content: space-between;
  align-items: center;
  font-size: 150%;
}

.links a {
  font-size: 100%;
}

.links a{
  padding-left: 1.5%;
  float: left;
  text-align: left;
  text-decoration: none;
  color: white;
  margin-right: 8px;
}

.logo {
  width: 100px;
  height: 100px;
}

/* Home.js */

.homepage{
  display: grid;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
}

.homepage-title{
  color: #573b8a;
  font-size: 2.8em;
  padding: -10px;
  margin: 0;
}

.homepage-sub{
  color: #784fc5;
}

.homepage-team{
  color: #2600ff;
  margin: 5px;
}

.teams {
  display: flex;
}

.teamImage{
  cursor: pointer;
  margin: 5px;
  width: 50px;
  height: 50px;
}

.teamImage-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.teamImage-shrink:hover, .teamImage-shrink:focus, .teamImage-shrink:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}


/* .title{
  text-align: right;
  float: right;
} */

.main{
	width: 550px;
	height: 650px;
  margin-top: -30px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}

#chk{
	display: none;
}

.signup{
	position: relative;
	width:100%;
	height: 100%;
}

.labelSign{
  color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

.labelReg{
  color: #fff;
	font-size: 1.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
}

.inputs{
  width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

.link{
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
}

img{
  width: 300px;
  height: 300px;
  max-width: 300px;
  max-height: 300px;
}

.loginB{
  width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.loginB:hover{
  background: #6d44b8;
}

.admin{
  height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}

.admin label{
  color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .admin{
	transform: translateY(-500px);
}
#chk:checked ~ .admin label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}



.headers{
  display: flex;
  justify-content: center;
}

.pitch {
  background: repeating-linear-gradient(
		rgba(255, 255, 255, 0.05),
		rgba(255, 255, 255, 0.05) 20%,
		transparent 20%,
		transparent 40%
	);
  width: 50%;
	height: 50%;
	padding: 1.5rem;
	padding-bottom: 0;
	display: flex;
  justify-content: center;
  min-height: 50vh;
  margin: 0 auto;
  position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
  
}

.lines {
  border: 0.1875rem solid rgba(255, 255, 255, 0.3);
  background-color: #3aaa35; 
  border-bottom: transparent;
  height: calc(100% - 6rem);
  display: block;
  width: 75%;
  position: relative;
  margin: 10px auto;
}
.corner {
  width: 1rem;
  height: 1rem;
  display: block;
  position: absolute;
  border: 0.1875rem solid rgba(255, 255, 255, 0.3);
  border-left: 0.1875rem solid transparent;
  border-top: 0.1875rem solid transparent;
  border-bottom: 0.1875rem solid transparent;
}
.corner-top-left {
    top: -0.6875rem;
    left: -0.6875rem;
    transform: rotate(45deg);
}
.corner-top-right {
  top: -0.6875rem;
  right: -0.6875rem;
  transform: rotate(135deg);
}
.goalBox {
  border: 0.1875rem solid rgba(255, 255, 255, 0.3);
  border-top: transparent;
  margin: 0 auto;
  width: 11.87rem;
  height: 5.5rem;
  position: relative;
  
}

.goalBox::before {
  content: "";
  display: block;
  border: 0.1875rem solid rgba(255, 255, 255, 0.3);
  border-top: transparent;
  width: 6.875rem;
  height: 3rem;
  margin: 0 auto;
}

.goalBox::after {
  content: "";
  display: block;
  border: 0.1875rem solid rgba(255, 255, 255, 0.3);
  border-top: transparent;
  width: 3.5rem;
  height: 1.75rem;
  border-bottom-left-radius: 3.5rem;
  border-bottom-right-radius: 3.5rem;
  margin: 2.5rem 4rem 4rem 4rem;
  z-index: -1;
}

.half {
  width: 100%;
  height: 5.75rem;
  border-top: 0.1875rem solid rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: 0;
}

.half::before {
  content: "";
  display: block;
  border: 0.1875rem solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  width: 7rem;
  height: 7rem;
  margin: -3.55rem auto 0;
  border-radius: 7rem;
}

.half::after {
  content: "";
  display: block;
  background: rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
  margin: -4rem auto 0;
  border-radius: 1rem;
}

.goalie{
  display: flex;
  justify-content: center;
  margin-top: -80px;
}

.goal{
  text-align: center;
  margin: 30px auto 15px auto;
  padding: 0 30px 0 30px;
}

.defenders{
  display: flex;
  justify-content: space-between;
  margin: 30px 25px 15px 25px;
  padding: 0 30px 0 30px;
}



.midfielders{
  display: flex;
  justify-content: space-around;
  margin: 30px auto 15px auto;
}

.forwards{
  display: flex;
  justify-content: space-around;
  margin: 30px auto 15px auto;
}

.profilePage{
  background-color: #ccfeba;
  margin-top: -30px;
}






.players{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 60px;
  margin: 30px;
}

.createTeam{
  margin: auto;
}

.playerList{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 20px;
}

.empty{
  max-width: 1px; 
}

.def{
  margin-right: 20px;
}

.playerImage{
  width: 100px;
  height: 100px;
  display: flex;
  margin: auto;
  z-index: 2
}
.box {
  
 
  margin: auto;
}

.box select  {
  background-color: #0563af;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box label {
  background-color: #143855;
  color: white;
  padding: 12px;
  width: 100px;
  border: none;
  font-size: 20px;
  margin: 10px;
}

.box::before {
  position: absolute;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}

.box select{
  cursor: pointer;
}

select {
  margin: auto;
}

.button {
  background-color: #223e55;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  margin: 10px;
  cursor: pointer;
}

.back{
  color: white;
}

.allPlayers{
  width: 200px; 
  height: 200px;
}

.profilePage{
  color: white;
}

.headers{
  color:rgba(1, 1, 1, 0.916);
}

/* All Clubs.js */
.allClubs{
  background-color: #ccfeba;
  margin-top: -30px;
}

.clubSection{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 100px;
  font-size: 1.5em;
  margin-left: 30px;
}

.clubSection div {
  display: grid;
  justify-content: center;
}

/* team.js */

.view-teamMain{
  background-color: #ccfeba;
  margin-top: -30px;
}

.team-details{
  display: flex;
  width: 900px;
  margin: 30px 30px 30px 30px;
  color: #2600ff;
}

.team-details div{
  display: flex;
  justify-content: space-evenly;
  margin-left: 30px;
}

.team-details h1 {
  margin-left: 30px;
}

.team-details img{
  width: 150px;
  height: 150px;
}

.team-player{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}

.team-player div{
  display: grid;
  justify-content: center;
  
}

.team-player img h2{
  margin-top: -8px;
}

/* transfer.js */
.transfer-title{
  color: #2600ff;
  margin-left: 40px;
}

/* team.js  */
.team-player{
  color: #2600ff;
}

.team-player h2{
  margin-top: -4px;
}

.team-player img{
  margin-bottom: 60px;
}

/* profile.js */

.createTeam{
  color: #2600ff;
}